section{
    margin: 60px;
}
.blog{
  padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 10px gray;
}
.blog h3{
font-size: 25px;
font-weight: bold;
color: rgb(139, 0, 132);
margin-bottom: 0;
}
.blog p{
  font-size: 18px;
}
.blog-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    
   
}
