.show-container{
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}
.show-img img{
    width: 100px;
    margin-right: 10px;
   
}
.show-info p{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}